*{
    margin: 0;
    padding: 0;
}
.outer {
    min-height: 300px;
    width: 100%;
    padding-top: 50px;
}
.todoForm {
    min-height: 120px;
    width: 70%;
    background-color: white;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 5px;
    padding-top: 20px;
    margin: 20px auto;
}
.todoForm__input {
    height: 45px;
    width: 90%;
    margin: auto;
    background-color: white;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.todoForm__input>input{
    height: 95%;
    width: 85%;
    border: none;
    font-size: 20px;
    outline: none;
    padding-left: 20px;
}
.todoForm__input>p{
    height: 100%;
    width: 8%;
    background-color: rgb(5 65 155);
    /* background-color: rgb(7, 196, 186); */
    font-size: 30px;
    color: white;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todoForm>button{
    border:none;
    border-radius: 5px;
    /* background-color:rgb(7, 196, 186); */
    background-color: rgb(5 65 155);
    color:white;
    font-size: 20px;
    min-height: 40px;
    width: 90%;
    margin:20px auto;
}
.todobutton {
    min-height: 80px;
    width: 70%;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.todobutton>button{
    min-height: 40px;
    border: none;
    width: 25%;
    border-radius: 5px;
    background-color: rgb(5 65 155);
    /* background: rgb(7, 196, 186); */
    color: white;
    font-size: 20px;
}
.todolist{
    min-height: 100px;
    width: 70%;
    margin: auto;
}
.todolist__content {
    min-height: 30px;
    width: 98%;
    margin: 20px auto;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
}
.todolist__btn {
    display: flex;
    font-size: 20px;    
}
.todolist__btn>input{
    width:20px;
    margin-right: 8px;
}
.todolist__btn>button {
    border: none;
    background: none;
    margin: 10px;
    font-size: 20px;
}
.todoBtn {
    width: 48% !important;
    background-color: rgb(236, 24, 59) !important;
    
}
.todolist__btndel{
    color: red;
}
.todolist__btnedit{
    color: #cd8708;
}
.cutText{
    text-decoration: line-through;
    color: red;
}